<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <main>
            <section>
                <form id="form">
                    <label for="destination">Look for </label>
                    <input type="text" id="destination" placeholder="Enter destination" required>

                    <label for="date">Departing on </label>
                    <input type="date" id="date" placeholder="YYYY-MM-DD" required required pattern="\d{4}-\d{2}-\d{2}">

                    <span id="cross-browser-date-message"></span>

                    <input type="submit" name="" value="submit">
                </form>
            <section>
        </main>

        <section id="response-section"></section>
        <section id="weather-forecast"></section>
    </body>
</html>