<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <label for="destination">Look for </label>
                    <input type="text" id="destination" placeholder="Enter destination">

                    <label for="date">Departing on </label>
                    <input type="date" id="date" placeholder="DD-MM-YYYY">

                    <input type="submit" name="" value="submit">
                </form>
            <section>

            <section >
                
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>