form {
  border: 0.007px solid #d6e0f0;
  border-radius: 2px;
  width: 90%;
  padding: 1em;
  margin: 0 auto;

  div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    label {
      display: block;
    }

    #date,
    #destination {
      display: block;
      width: 35%;
      border: 0.1px solid #d6e0f0;
    }
  }
}

input {
  padding: 5px 20px;
  width: 100%;
  margin: 10px 0;
  padding: 0.5em;
  border: none;
  font-size: 0.9em;
  border-radius: 0.3em;
  color: #43658b;
}

@media (max-width: 800px) {
  form {
    div {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        display: block;
        width: 97%;
        text-align: left;
      }

      #date,
      #destination {
        display: block;
        width: 95%;
        border: 0.1px solid #d6e0f0;
      }
    }
  }
  input {
    display: block;
    width: 95%;
    margin: 10px auto;
    padding: 0.5em;
  }
}
